In [1]:
import pandas as pd
import numpy as np

In [5]:
credits = pd.read_csv('credits.csv')
credits

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862
5,"[{'cast_id': 25, 'character': 'Lt. Vincent Han...","[{'credit_id': '52fe4292c3a36847f802916d', 'de...",949
6,"[{'cast_id': 1, 'character': 'Linus Larrabee',...","[{'credit_id': '52fe44959251416c75039da9', 'de...",11860
7,"[{'cast_id': 2, 'character': 'Tom Sawyer', 'cr...","[{'credit_id': '52fe46bdc3a36847f810f797', 'de...",45325
8,"[{'cast_id': 1, 'character': 'Darren Francis T...","[{'credit_id': '52fe44dbc3a36847f80ae0f1', 'de...",9091
9,"[{'cast_id': 1, 'character': 'James Bond', 'cr...","[{'credit_id': '52fe426ec3a36847f801e14b', 'de...",710
10,"[{'cast_id': 1, 'character': 'Andrew Shepherd'...","[{'credit_id': '52fe44dac3a36847f80adfa3', 'de...",9087
11,"[{'cast_id': 9, 'character': 'Count Dracula', ...","[{'credit_id': '52fe44b79251416c7503e7fb', 'de...",12110
12,"[{'cast_id': 1, 'character': 'Balto (voice)', ...","[{'credit_id': '593f24b9c3a3680369002371', 'de...",21032
13,"[{'cast_id': 1, 'character': 'Richard Nixon', ...","[{'credit_id': '52fe43c59251416c7501d6f3', 'de...",10858
14,"[{'cast_id': 1, 'character': 'Morgan Adams', '...","[{'credit_id': '52fe42f4c3a36847f802f69f', 'de...",1408
15,"[{'cast_id': 4, 'character': ""Sam 'Ace' Rothst...","[{'credit_id': '52fe424dc3a36847f80139cd', 'de...",524
16,"[{'cast_id': 6, 'character': 'Marianne Dashwoo...","[{'credit_id': '52fe43cec3a36847f807101f', 'de...",4584
17,"[{'cast_id': 42, 'character': 'Ted the Bellhop...","[{'credit_id': '52fe420dc3a36847f800011b', 'de...",5
18,"[{'cast_id': 1, 'character': 'Ace Ventura', 'c...","[{'credit_id': '52fe44dfc3a36847f80af28b', 'de...",9273
19,"[{'cast_id': 1, 'character': 'John', 'credit_i...","[{'credit_id': '52fe44509251416c750305a1', 'de...",11517
20,"[{'cast_id': 1, 'character': 'Chili Palmer', '...","[{'credit_id': '52fe448dc3a36847f809c729', 'de...",8012
21,"[{'cast_id': 8, 'character': 'Helen Hudson', '...","[{'credit_id': '52fe430ec3a36847f803722d', 'de...",1710
22,"[{'cast_id': 1, 'character': 'Robert Rath', 'c...","[{'credit_id': '52fe451cc3a36847f80bd145', 'de...",9691
23,"[{'cast_id': 1, 'character': 'Jessie Caldwell'...","[{'credit_id': '52fe45129251416c7504ab67', 'de...",12665
24,"[{'cast_id': 1, 'character': 'Ben Sanderson', ...","[{'credit_id': '52fe4245c3a36847f80111c3', 'de...",451
25,"[{'cast_id': 2, 'character': 'Othello', 'credi...","[{'credit_id': '5462510ec3a368082d000121', 'de...",16420
26,"[{'cast_id': 9, 'character': 'Young Roberta Ma...","[{'credit_id': '52fe44dec3a36847f80aed45', 'de...",9263
27,"[{'cast_id': 1, 'character': 'Anne Elliott', '...","[{'credit_id': '52fe46ff9251416c7508a8b3', 'de...",17015
28,"[{'cast_id': 24, 'character': 'One', 'credit_i...","[{'credit_id': '52fe428ac3a36847f8026c6f', 'de...",902
29,"[{'cast_id': 2, 'character': 'Xiao Jingbao', '...","[{'credit_id': '52fe46559251416c910511c9', 'de...",37557
...,...,...,...
45446,"[{'cast_id': 1, 'character': 'Gillian Grady', ...","[{'credit_id': '52fe46c7c3a36847f81119a1', 'de...",45527
45447,[],"[{'credit_id': '5981a15c92514151e0011b51', 'de...",455661
45448,"[{'cast_id': 2, 'character': 'André Hazes', 'c...","[{'credit_id': '54edb0e0c3a3686d58003a13', 'de...",327237
45449,"[{'cast_id': 2, 'character': 'Paula Dupree - t...","[{'credit_id': '52fe49099251416c910a0a89', 'de...",84710
45450,"[{'cast_id': 1, 'character': 'Alyson', 'credit...","[{'credit_id': '562ec44ec3a3681b5900bac2', 'de...",39562
45451,"[{'cast_id': 1, 'character': 'Kelly Collins', ...","[{'credit_id': '52fe45c29251416c75061803', 'de...",14008
45452,[],"[{'credit_id': '52fe4684c3a36847f81034f3', 'de...",44330
45453,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '52fe478dc3a36847f813bd5f', 'de...",49279
45454,"[{'cast_id': 2, 'character': 'The Magician', '...","[{'credit_id': '52fe4684c3a36847f810350b', 'de...",44333
45455,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '52fe478dc3a36847f813bd4b', 'de...",49277
45456,"[{'cast_id': 2, 'character': 'Le Concierge', '...","[{'credit_id': '52fe478dc3a36847f813bd19', 'de...",49271
45457,"[{'cast_id': 2, 'character': 'Man with whisker...","[{'credit_id': '52fe4684c3a36847f810345f', 'de...",44324
45458,[],"[{'credit_id': '52fe4a74c3a368484e1542e9', 'de...",122036
45459,"[{'cast_id': 1, 'character': 'Roo (voice)', 'c...","[{'credit_id': '52fe46249251416c7506e969', 'de...",14885
45460,"[{'cast_id': 3, 'character': 'All the members ...","[{'credit_id': '52fe478dc3a36847f813bd6b', 'de...",49280
45461,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '52fe4a71c3a36847f81ce35b', 'de...",106807
45462,[],"[{'credit_id': '539ef1090e0a263dd00000d7', 'de...",276895
45463,"[{'cast_id': 1, 'character': 'Devki Sabarwal',...","[{'credit_id': '58ee55bbc3a3683df500bd0f', 'de...",404604
45464,"[{'cast_id': 0, 'character': 'Lauren', 'credit...","[{'credit_id': '587626f4c3a3682b33008299', 'de...",420346
45465,"[{'cast_id': 5, 'character': '', 'credit_id': ...","[{'credit_id': '5330178a9251413a720055e3', 'de...",67179
45466,"[{'cast_id': 5, 'character': 'The Creeper', 'c...","[{'credit_id': '58152c139251415a7f0047e2', 'de...",84419
45467,"[{'cast_id': 30, 'character': 'Debuty Hank Har...","[{'credit_id': '56ff6ddbc3a3686e9e0013bc', 'de...",390959
45468,"[{'cast_id': 2, 'character': 'Branwall', 'cred...","[{'credit_id': '5403d669c3a3682d9800427d', 'de...",289923
45469,"[{'cast_id': 1, 'character': 'Kira (as Cassand...","[{'credit_id': '5757f36ac3a3687d6f000e8a', 'de...",222848
45470,"[{'cast_id': 1, 'character': 'Sir Robert Hode'...","[{'credit_id': '52fe44439251416c9100a899', 'de...",30840
45471,"[{'cast_id': 0, 'character': '', 'credit_id': ...","[{'credit_id': '5894a97d925141426c00818c', 'de...",439050
45472,"[{'cast_id': 1002, 'character': 'Sister Angela...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...",111109
45473,"[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...","[{'credit_id': '52fe4776c3a368484e0c8387', 'de...",67758
45474,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '533bccebc3a36844cf0011a7', 'de...",227506
45475,[],"[{'credit_id': '593e676c92514105b702e68e', 'de...",461257

In [4]:
keywords = pd.read_csv('keywords.csv')
keywords

           id                                           keywords
0         862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1        8844  [{'id': 10090, 'name': 'board game'}, {'id': 1...
2       15602  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...
3       31357  [{'id': 818, 'name': 'based on novel'}, {'id':...
4       11862  [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...
5         949  [{'id': 642, 'name': 'robbery'}, {'id': 703, '...
6       11860  [{'id': 90, 'name': 'paris'}, {'id': 380, 'nam...
7       45325                                                 []
8        9091  [{'id': 949, 'name': 'terrorist'}, {'id': 1562...
9         710  [{'id': 701, 'name': 'cuba'}, {'id': 769, 'nam...
10       9087  [{'id': 833, 'name': 'white house'}, {'id': 84...
11      12110  [{'id': 3633, 'name': 'dracula'}, {'id': 11931...
12      21032  [{'id': 1994, 'name': 'wolf'}, {'id': 6411, 'n...
13      10858  [{'id': 840, 'name': 'usa president'}, {'id': ...
14       1408  [{'id': 911, 'name': 'exotic island'}, {'id': ...
15        524  [{'id': 383, 'name': 'poker'}, {'id': 726, 'na...
16       4584  [{'id': 420, 'name': 'bowling'}, {'id': 818, '...
17          5  [{'id': 612, 'name': 'hotel'}, {'id': 613, 'na...
18       9273  [{'id': 409, 'name': 'africa'}, {'id': 1551, '...
19      11517  [{'id': 380, 'name': 'brother brother relation...
20       8012  [{'id': 395, 'name': 'gambling'}, {'id': 416, ...
21       1710  [{'id': 796, 'name': 'police brutality'}, {'id...
22       9691  [{'id': 271, 'name': 'competition'}, {'id': 44...
23      12665  [{'id': 7345, 'name': 'dead animal'}, {'id': 1...
24        451  [{'id': 30, 'name': 'individual'}, {'id': 549,...
25      16420  [{'id': 497, 'name': 'shakespeare'}, {'id': 93...
26       9263  [{'id': 1228, 'name': '1970s'}, {'id': 5248, '...
27      17015  [{'id': 1316, 'name': 'captain'}, {'id': 33384...
28        902  [{'id': 402, 'name': 'clone'}, {'id': 1566, 'n...
29      37557  [{'id': 964, 'name': 'servant'}, {'id': 2311, ...
...       ...                                                ...
46389   45527                                                 []
46390  455661  [{'id': 9673, 'name': 'love'}, {'id': 13130, '...
46391  327237  [{'id': 5565, 'name': 'biography'}, {'id': 102...
46392   84710           [{'id': 208422, 'name': 'paula dupree'}]
46393   39562  [{'id': 2064, 'name': 'overweight'}, {'id': 10...
46394   14008        [{'id': 171803, 'name': 'military school'}]
46395   44330            [{'id': 169590, 'name': 'police raid'}]
46396   49279  [{'id': 10124, 'name': 'laboratory'}, {'id': 1...
46397   44333  [{'id': 2343, 'name': 'magic'}, {'id': 154802,...
46398   49277  [{'id': 154802, 'name': 'silent film'}, {'id':...
46399   49271  [{'id': 11320, 'name': 'tenant'}, {'id': 15480...
46400   44324                                                 []
46401  122036                                                 []
46402   14885  [{'id': 3335, 'name': 'halloween'}, {'id': 193...
46403   49280                                                 []
46404  106807  [{'id': 5970, 'name': 'wrestling'}, {'id': 607...
46405  276895                                                 []
46406  404604  [{'id': 155794, 'name': 'physical abuse'}, {'i...
46407  420346                                                 []
46408   67179                                                 []
46409   84419  [{'id': 9748, 'name': 'revenge'}, {'id': 9826,...
46410  390959            [{'id': 224180, 'name': 'blair witch'}]
46411  289923  [{'id': 616, 'name': 'witch'}, {'id': 2035, 'n...
46412  222848                                                 []
46413   30840                                                 []
46414  439050             [{'id': 10703, 'name': 'tragic love'}]
46415  111109  [{'id': 2679, 'name': 'artist'}, {'id': 14531,...
46416   67758                                                 []
46417  227506                                                 []
46418  461257                                                 []

[46419 rows x 2 columns]

In [ ]:
# parse json