In [3]:
import pandas as pd
import numpy as np
import json

In [4]:
credits = pd.read_csv('credits.csv')

In [67]:
credits.head()

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

In [18]:
# credits['cast'][0][1:-1]

In [17]:
# for i in range(len(credits['cast'])):
#     str_dict = credits['cast'][i].replace("[","")
#     str_dict_final = str_dict.replace("]","")
#     print(eval(str_dict_final.replace("'", "\"")))

the json object in the column cast is a str so i had to try to change it to a json obj but i can't cause it becomes a tuple not a json object, i was watchin some examples they kinda just left the str json object so idk wat to do

In [19]:
str_dict = credits['cast'][0].replace("[","")
str_dict_final = str_dict.replace("]","")
str_dict_final
# eval(str_dict_final.replace("'", "\""))

"{'cast_id': 14, 'character': 'Woody (voice)', 'credit_id': '52fe4284c3a36847f8024f95', 'gender': 2, 'id': 31, 'name': 'Tom Hanks', 'order': 0, 'profile_path': '/pQFoyx7rp09CJTAb932F2g8Nlho.jpg'}, {'cast_id': 15, 'character': 'Buzz Lightyear (voice)', 'credit_id': '52fe4284c3a36847f8024f99', 'gender': 2, 'id': 12898, 'name': 'Tim Allen', 'order': 1, 'profile_path': '/uX2xVf6pMmPepxnvFWyBtjexzgY.jpg'}, {'cast_id': 16, 'character': 'Mr. Potato Head (voice)', 'credit_id': '52fe4284c3a36847f8024f9d', 'gender': 2, 'id': 7167, 'name': 'Don Rickles', 'order': 2, 'profile_path': '/h5BcaDMPRVLHLDzbQavec4xfSdt.jpg'}, {'cast_id': 17, 'character': 'Slinky Dog (voice)', 'credit_id': '52fe4284c3a36847f8024fa1', 'gender': 2, 'id': 12899, 'name': 'Jim Varney', 'order': 3, 'profile_path': '/eIo2jVVXYgjDtaHoF19Ll9vtW7h.jpg'}, {'cast_id': 18, 'character': 'Rex (voice)', 'credit_id': '52fe4284c3a36847f8024fa5', 'gender': 2, 'id': 12900, 'name': 'Wallace Shawn', 'order': 4, 'profile_path': '/oGE6JqPP2xH4tNORKNqxbNPYi7u.jpg'}, {'cast_id': 19, 'character': 'Hamm (voice)', 'credit_id': '52fe4284c3a36847f8024fa9', 'gender': 2, 'id': 7907, 'name': 'John Ratzenberger', 'order': 5, 'profile_path': '/yGechiKWL6TJDfVE2KPSJYqdMsY.jpg'}, {'cast_id': 20, 'character': 'Bo Peep (voice)', 'credit_id': '52fe4284c3a36847f8024fad', 'gender': 1, 'id': 8873, 'name': 'Annie Potts', 'order': 6, 'profile_path': '/eryXT84RL41jHSJcMy4kS3u9y6w.jpg'}, {'cast_id': 26, 'character': 'Andy (voice)', 'credit_id': '52fe4284c3a36847f8024fc1', 'gender': 0, 'id': 1116442, 'name': 'John Morris', 'order': 7, 'profile_path': '/vYGyvK4LzeaUCoNSHtsuqJUY15M.jpg'}, {'cast_id': 22, 'character': 'Sid (voice)', 'credit_id': '52fe4284c3a36847f8024fb1', 'gender': 2, 'id': 12901, 'name': 'Erik von Detten', 'order': 8, 'profile_path': '/twnF1ZaJ1FUNUuo6xLXwcxjayBE.jpg'}, {'cast_id': 23, 'character': 'Mrs. Davis (voice)', 'credit_id': '52fe4284c3a36847f8024fb5', 'gender': 1, 'id': 12133, 'name': 'Laurie Metcalf', 'order': 9, 'profile_path': '/unMMIT60eoBM2sN2nyR7EZ2BvvD.jpg'}, {'cast_id': 24, 'character': 'Sergeant (voice)', 'credit_id': '52fe4284c3a36847f8024fb9', 'gender': 2, 'id': 8655, 'name': 'R. Lee Ermey', 'order': 10, 'profile_path': '/r8GBqFBjypLUP9VVqDqfZ7wYbSs.jpg'}, {'cast_id': 25, 'character': 'Hannah (voice)', 'credit_id': '52fe4284c3a36847f8024fbd', 'gender': 1, 'id': 12903, 'name': 'Sarah Freeman', 'order': 11, 'profile_path': None}, {'cast_id': 27, 'character': 'TV Announcer (voice)', 'credit_id': '52fe4284c3a36847f8024fc5', 'gender': 2, 'id': 37221, 'name': 'Penn Jillette', 'order': 12, 'profile_path': '/zmAaXUdx12NRsssgHbk1T31j2x9.jpg'}"

In [72]:
temp = str_dict_final.replace('None','"None"').split('},')
for i in range(len(temp)):
    if len(temp)-1 == i:
        toConv = temp[i]
    else:
        toConv = temp[i]+'}'
    toConv = toConv.replace("'", '"')
    print(toConv)
    print(i)
    json.loads(toConv)

{"cast_id": 14, "character": "Woody (voice)", "credit_id": "52fe4284c3a36847f8024f95", "gender": 2, "id": 31, "name": "Tom Hanks", "order": 0, "profile_path": "/pQFoyx7rp09CJTAb932F2g8Nlho.jpg"}
0
 {"cast_id": 15, "character": "Buzz Lightyear (voice)", "credit_id": "52fe4284c3a36847f8024f99", "gender": 2, "id": 12898, "name": "Tim Allen", "order": 1, "profile_path": "/uX2xVf6pMmPepxnvFWyBtjexzgY.jpg"}
1
 {"cast_id": 16, "character": "Mr. Potato Head (voice)", "credit_id": "52fe4284c3a36847f8024f9d", "gender": 2, "id": 7167, "name": "Don Rickles", "order": 2, "profile_path": "/h5BcaDMPRVLHLDzbQavec4xfSdt.jpg"}
2
 {"cast_id": 17, "character": "Slinky Dog (voice)", "credit_id": "52fe4284c3a36847f8024fa1", "gender": 2, "id": 12899, "name": "Jim Varney", "order": 3, "profile_path": "/eIo2jVVXYgjDtaHoF19Ll9vtW7h.jpg"}
3
 {"cast_id": 18, "character": "Rex (voice)", "credit_id": "52fe4284c3a36847f8024fa5", "gender": 2, "id": 12900, "name": "Wallace Shawn", "order": 4, "profile_path": "/oGE6JqPP2xH4tNORKNqxbNPYi7u.jpg"}
4
 {"cast_id": 19, "character": "Hamm (voice)", "credit_id": "52fe4284c3a36847f8024fa9", "gender": 2, "id": 7907, "name": "John Ratzenberger", "order": 5, "profile_path": "/yGechiKWL6TJDfVE2KPSJYqdMsY.jpg"}
5
 {"cast_id": 20, "character": "Bo Peep (voice)", "credit_id": "52fe4284c3a36847f8024fad", "gender": 1, "id": 8873, "name": "Annie Potts", "order": 6, "profile_path": "/eryXT84RL41jHSJcMy4kS3u9y6w.jpg"}
6
 {"cast_id": 26, "character": "Andy (voice)", "credit_id": "52fe4284c3a36847f8024fc1", "gender": 0, "id": 1116442, "name": "John Morris", "order": 7, "profile_path": "/vYGyvK4LzeaUCoNSHtsuqJUY15M.jpg"}
7
 {"cast_id": 22, "character": "Sid (voice)", "credit_id": "52fe4284c3a36847f8024fb1", "gender": 2, "id": 12901, "name": "Erik von Detten", "order": 8, "profile_path": "/twnF1ZaJ1FUNUuo6xLXwcxjayBE.jpg"}
8
 {"cast_id": 23, "character": "Mrs. Davis (voice)", "credit_id": "52fe4284c3a36847f8024fb5", "gender": 1, "id": 12133, "name": "Laurie Metcalf", "order": 9, "profile_path": "/unMMIT60eoBM2sN2nyR7EZ2BvvD.jpg"}
9
 {"cast_id": 24, "character": "Sergeant (voice)", "credit_id": "52fe4284c3a36847f8024fb9", "gender": 2, "id": 8655, "name": "R. Lee Ermey", "order": 10, "profile_path": "/r8GBqFBjypLUP9VVqDqfZ7wYbSs.jpg"}
10
 {"cast_id": 25, "character": "Hannah (voice)", "credit_id": "52fe4284c3a36847f8024fbd", "gender": 1, "id": 12903, "name": "Sarah Freeman", "order": 11, "profile_path": "None"}
11
 {"cast_id": 27, "character": "TV Announcer (voice)", "credit_id": "52fe4284c3a36847f8024fc5", "gender": 2, "id": 37221, "name": "Penn Jillette", "order": 12, "profile_path": "/zmAaXUdx12NRsssgHbk1T31j2x9.jpg"}
12

In [ ]:
def split_str(row):
    temp = row[1:-1]
    temp = temp.replace('None','"None"').split('},')
    for i in range(len(temp)):
        if len(temp)-1 == i:
            toConv = temp[i]
        else:
            toConv = temp[i]+'}'
        toConv = toConv.replace("'", '"')
        print(toConv)
        print(i)
        json.loads(toConv)

In [79]:
cast = credits[['cast','id']].head()
cast.apply(lambda x: print(x))

0    [{'cast_id': 14, 'character': 'Woody (voice)',...
1    [{'cast_id': 1, 'character': 'Alan Parrish', '...
2    [{'cast_id': 2, 'character': 'Max Goldman', 'c...
3    [{'cast_id': 1, 'character': "Savannah 'Vannah...
4    [{'cast_id': 1, 'character': 'George Banks', '...
Name: cast, dtype: object
0      862
1     8844
2    15602
3    31357
4    11862
Name: id, dtype: object

cast    None
id      None
dtype: object

In [69]:
keywords = pd.read_csv('keywords.csv')

In [70]:
keywords.head()

      id                                           keywords
0    862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1   8844  [{'id': 10090, 'name': 'board game'}, {'id': 1...
2  15602  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...
3  31357  [{'id': 818, 'name': 'based on novel'}, {'id':...
4  11862  [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...

In [71]:
links = pd.read_csv('links.csv')

In [14]:
small_links = pd.read_csv('small_links.csv')

In [15]:
movies_metadata = pd.read_csv('movies_metadata.csv')

C:\Users\Travi\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [16]:
ratings = pd.read_csv('ratings.csv')

In [17]:
ratings_small = pd.read_csv('ratings_small.csv')

In [ ]:
# parse json